/* left sidebar */
html {
    font-family: sans-serif;
  }
  
/* main heading */
  .heading {
    box-sizing: border-box;
    padding-right: 30px;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 100px;
    margin: 10px;
    font-weight: 500;
  }
  
  hr {
    margin: 20px;
    margin-top: 65px;
  }
  
/* rest of content */
  .content {
    position: relative;
    top: 150px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}


  #left-sidebar {
position: fixed;
align-items: left;
width: 20vw;
}

fieldset {
  border: 0px;
    margin-left: 10px;
    margin-bottom: 50px;
}

legend {
  font-size: 44px;
}

  label {
    margin-right: 15px;
    line-height: 32px;
  }
  
  /* radio button design */
  input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 1px solid black;
    transition: 0.2s all linear;
    margin-right: 3px;
  
    position: relative;
    top: 4px;
  }
  
  /* radio button checked appearance */
  input:checked {
    border: 6px solid black;
  }
  
  button {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
  }

/* magnets */
.gallery {
    position: relative;
    left: 25vw;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; 
    padding: 20px;
  }
  
  .gallery > *:nth-child(even) {
    transform: translateY(50%);
  }
  
  img {
    width: 100%;
    clip-path: circle(50%)
  }

  .gallery > * {
    border-radius: 50%;
    border: 1px black solid;
    background-color: white;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    position: absolute;
    padding: 80px;
    line-height: 25px;
  }

  small {
    font-weight: 200;
    font-size: 12px;
  }

  /* right-sidebar */
  
  #right-sidebar {
    position: fixed;
    right: 0px;
    align-items: right;
    width: 10vw;
  }

h2 {
  font-weight: 44px;
}

  p {
    margin-bottom: 55px;
  }

  /* INTERACTIONS */

  img:hover {
    background: white;
    opacity: 15%;
    transition: 200ms all linear;
  }