html {
  font-family: Helvetica;
}

/* main heading */
.heading {
  box-sizing: border-box;
  padding-right: 30px;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 100px;
  margin: 10px;
  font-weight: 500;
}

hr {
  margin: 20px;
  margin-top: 65px;
}

.content {
  position: relative;
  top: 150px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

/* left sidebar */
#left-sidebar {
  position: fixed;
  align-items: left;
  width: 20vw;
  margin-left: 20px;
  }
  
  /* checkboxes */
  
  .continentCheckbox , .materialCheckbox {
    margin-right: 15px;
    line-height: 32px;
    white-space: nowrap;
  }

  .continent-checkboxes, .material-checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

/* checkbox design */
/* unchecked appearance */
input {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 1px solid black;
  transition: 0.2s all linear;
  margin-right: 3px;

  position: relative;
  top: 4px;
}

input:hover {
  cursor: pointer;
}

/* checked appearance */
input:checked {
  border: 6px solid black;
}

/* dropdown menu */
.dropdown-menu {
  position: relative;
  display: inline-block;
  width: 300px;
  max-width: 100%;
}

.dropdown-button {
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}

.dropdown-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
}

.dropdown-contents {
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  list-style: none;
  padding: 0px;
  margin-top: 5px;;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-contents li {
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.dropdown-contents li.selected {
  border-radius: 50px;
  color: lightgray;
}

.dropdown-contents li:hover,
.dropdown-contents li:focus {
  background-color: black;
  border-radius: 50px;
  color: white;
}

.dropdown-contents.hidden {
  display: none;
}

/* magnet gallery */
.gallery {
  position: relative;
  left: 23vw;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px; 
  padding: 20px;
}

.magnet {
  border-radius: 50%;
  border: 1px black solid;
  background-color: white;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gallery > *:nth-child(even) {
  transform: translateY(50%);
}

.description {
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 60px;
  line-height: 25px;
}

small {
  font-weight: 200;
  font-size: 12px;
}

img {
  width: 100%;
  clip-path: circle(50%)
}

/* right-sidebar */
  
#right-sidebar {
  position: fixed;
  left: 88vw;
  align-items: right;
  width: 10vw;
}

p {
  margin-bottom: 50px;
}


/* animations */

img:hover {
  background: white;
  opacity: 15%;
  transition: 200ms all linear;
}