html {
  font-family: Helvetica;
}

/* main heading */
.heading {
  box-sizing: border-box;
  padding-right: 30px;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 100px;
  margin: 10px;
  font-weight: 500;
}

hr {
  margin: 20px;
  margin-top: 65px;
}

.content {
  position: relative;
  top: 150px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.filters {
  position: fixed;
  align-items: left;
  width: 20vw;
  }

.wrapper {
  position: relative;
  left: 23vw;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px; 
  padding: 20px;
}

.wrapper > * {
  border-radius: 50%;
  border: 1px black solid;
  background-color: white;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.description {
  position: absolute;
  box-sizing: border-box;
  padding: 60px;
  line-height: 25px;
}

img {
  width: 100%;
  clip-path: circle(50%)
}


.filter {
  cursor: pointer;
  padding:  0.2em 0.5em;
}


.wrapper > * {
  aspect-ratio: 1/1;
  border: 1px black solid;
  padding: 1em;
}


h2 {
  margin: 0;
}


/* To add */

.btns {
  display: flex;
  gap: 2em;
}

.btn {
  cursor: pointer;    
}

.hide {
  display: none;
}

.active {
  background-color: yellow;
}


img:hover {
  background: white;
  opacity: 15%;
  transition: 200ms all linear;
}